.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &.open {
    background-color: #fff;
  }
}

.topBar {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  position: relative;
  z-index: 1002;
}

.logo {
  -webkit-user-drag: none;
  width: 250px;
  padding: 0 3rem;
  height: 2.5rem;
  box-sizing: border-box;
  cursor: pointer;
  object-fit: contain;
}

.mainNav {
  flex: 1;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-right: 3rem;

  .navItem {
    flex: 1;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      color: #70605a;
    }
  }
}

.dropdownContainer {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease, padding 0.4s ease;

  border-top: 1px solid #eee;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 1001;
}

.container:hover .dropdownContainer,
.container.open .dropdownContainer {
  max-height: 30rem;
  opacity: 1;
  padding: 2rem 0;
}

.dropdownContent {
  width: 100%;

  padding-left: 250px;
  padding-right: 3rem;

  display: flex;
  box-sizing: border-box;
}

.subList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    width: 100%;
  }

  .subLink {
    display: block;
    text-decoration: none;
    font-size: 0.95rem;
    color: #777;
    transition: color 0.2s;
    white-space: nowrap;

    &:hover {
      color: #70605a;
      font-weight: 600;
    }

    &.active {
      color: #70605a;
      font-weight: 700;
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }

  .topBar {
    justify-content: space-between;
    height: 5rem;
  }

  .logo {
    padding: 0 1.5rem;
  }

  .mainNav,
  .dropdownContainer {
    display: none;
  }
}
