// routeToCome.module.scss
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 100px 80px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
}

.map {
  flex-basis: 700px;
  flex-shrink: 0;
  min-height: 500px;
  background: #d9d9d9;
  border-radius: 20px;
}

.infoContainer {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  color: #333;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 700;
  color: #70605a;
}

.address,
.tel {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}

.hours {
  margin-top: 1rem;

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      display: flex;
      gap: 2rem;
      font-size: 18px;

      span:first-child {
        min-width: 120px;
        font-weight: 500;
      }
    }
  }
}

.parking {
  margin-top: 30px;

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 18px;
  }
}

.notice {
  margin-top: 0.5rem;
  font-weight: 600;
  color: #be4718;
}

@media (max-width: 1200px) {
  .container {
    padding: 60px 40px;
  }

  .content {
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    min-height: 400px;
  }

  .infoContainer {
    width: 100%;
    max-width: 700px;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .map {
    min-height: 300px;
  }

  .title {
    font-size: 28px;
  }

  .address,
  .tel,
  .hours li,
  .parking p {
    font-size: 16px;
  }

  .hours h3,
  .parking h3 {
    font-size: 18px;
  }
}
