.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;

  img {
    width: 20rem;
    height: 28rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  .infos {
    flex: 1;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.2rem;

    .major {
      color: #70605a;
      font-size: 1.8em;
      font-weight: 700;
    }

    .name,
    .specialty {
      font-size: 1.8em;
      font-weight: 700;
    }

    .subInfos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .education,
      .membership {
        color: #787878;
        font-size: 1em;
        font-weight: 400;
        margin: 1rem 0;
        line-height: 1.5;
        white-space: normal;
      }
    }

    &:only-child {
      align-items: center;
      text-align: center;
      max-width: 800px;

      .subInfos {
        align-items: center;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;

    .infos {
      width: 80%;
      text-align: left;
      align-items: flex-start;
      margin-bottom: 2rem;
    }

    img {
      width: 80%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    align-items: center;

    img {
      width: 80%;
      height: auto;
    }

    .infos {
      width: 90%;
      align-items: flex-start;
      text-align: left;

      .major,
      .name,
      .specialty {
        font-size: 1.4em;
      }

      .subInfos {
        .education,
        .membership {
          font-size: 0.9em;
          line-height: 1.5;
        }
      }
    }
  }
}
