.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  max-width: 500px;
  width: 90%;
}

.imageWrapper {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;

  button {
    border: none;
    background: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .todayBtn {
    font-weight: 400;
    color: #ccc;
  }

  .closeBtn {
    font-weight: 700;
  }
}
