.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;

  .topBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0 4rem 0;

    .engTitle {
      font-size: 2em;
      font-weight: 700;
      color: #70605a;
      font-family: "Cormorant Garamond", serif;
    }

    .koTitle {
      font-size: 1.6em;
      font-weight: 700;
    }

    .hr {
      width: 5rem;
      border: 1.6px solid #a89f99;
    }
  }

  .doctorInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding-bottom: 6rem;
  }

  .comment {
    width: 100%;
    height: 10rem;
    background-image: url("/doctor-info/doctor_info_bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "MaruBuriOTF", serif;
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-top: 2rem;

    .topBox {
      .engTitle {
        font-size: 1.6em;
      }

      .koTitle {
        font-size: 1.4em;
      }
    }

    .doctorInfos {
      gap: 2rem;
    }

    .comment {
      font-size: 1.6em;
      height: 8rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 1.5rem;

    .topBox {
      gap: 0.6rem;
      .engTitle {
        font-size: 1.4em;
      }

      .koTitle {
        font-size: 1.2em;
      }
    }

    .doctorInfos {
      gap: 1.5rem;
    }

    .comment {
      font-size: 1.2em;
      height: 6rem;
      text-align: center;
      padding: 0 1rem;
    }
  }
}
