.container {
  width: 5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a89f99;
  border-radius: 18px;
  cursor: pointer;

  .text {
    color: #a89f99;
  }
}

.selected {
  background-color: #70605a;
}

.selectedText {
  color: #fff;
}
